html{
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}



/*Header*/
.header{
  display: inline-flex;	
  background-color: black;
  height: 4rem;
  width: 100%;
  align-items: center;
}

.header img{
  height: 1.5rem;
  width: auto; 
  padding-right: 0.5rem;
  padding-left: 1rem;  
  margin-left: 28rem;
}

.header img,
.header span{
  padding-top:0.66rem;
  padding-bottom:0.66rem;	
}

/*Body*/
.body{
  display: flex;
  background-color: black;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

/*Banner*/
.background_image{
  display: flex;
  background-image: url("../images/banner-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
  width: 65rem;
  align-items: center;
}

.banner {
  background-color: black;	
  width: 25rem;
  height: 9rem;
  margin-top: 1rem;
  margin-left: 8.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.banner p{
  font-weight: bold;
  padding-top: 1rem;
  padding-left: 3rem;
}
.banner span{
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  margin-bottom: 1.5rem;
}

/*nav*/
.nav {
 display: inline-flex;
 height: 2.5rem;
 width: 65rem;
 justify-content: space-around;
 align-items: center;
 background-color: firebrick;
}
 
/*first row*/
.bottom{
  
  background-color: black;
}

.white{

  width: 61.446%;
  margin-left: 20.4rem;
  background-color: white;
  
}

.first_row{
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  
  
}

.first_row span{
  background-color: black;
  width: 13rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pen{
  border: 4px solid black;
  width: 13rem;
  height: 12rem;
  display: flex;
  align-items: center;
  flex-direction: column;  
  margin-top: 3rem;
  margin-left: 8rem;
  padding-top: 1rem;
  
}

.pen img{
  height: 9rem;
  width: auto;
  padding-bottom: 1rem;	
}

.watch{
  border: 4px solid black;
  width: 13rem;
  height: 12rem;
  display: flex;
  align-items: center;
  flex-direction: column;  
  margin-top: 3rem;
  margin-left: 2rem;
  padding-top: 1rem; 
}

.watch img{
  height: 9rem;
  width: auto;
  padding-bottom: 1rem;	
}

.glasses{
  border: 4px solid black;
  width: 13rem;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;  
  margin-top: 3rem;
  margin-left: 2rem;
  padding-top: 1rem;	
}

.glasses img{
  height: auto;
  width: 9rem;
  padding-top: 2.5rem; 
}

/*second row*/

.second_row{
  height: 7rem;
  width: 68%;
  display: flex;
  margin-left: 8rem;
  margin-top: 3rem;
  justify-content: space-between; 
 
}

.one .box,
.two .box{
  height: 3rem;
  width: 10rem; 
  background-color: black;  
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.one .box2,
.two .box2{
  color: black;
  margin-top: 0.5rem;  
}

/*footer*/
.footer{
  height: 7rem;
  background-color: black;  
  padding-left: 28rem;
  display: flex;
  align-items: center;
}
